/* body {
  text-align: center;
  background-color: rgb(104, 86, 112);
}

h2 {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  ;
}

.decreace-button {
  display: flex;
  margin-right: 5rem;
  margen-left
} */